<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foodstagram | Login</title>
  <link rel="stylesheet" href="./css/utility.css">
  <script src="./js/login.js" defer></script>
</head>
<body>
  <div class="flex flex-center h-100vh">
    <div class="column w-250px">
      <div class="flex justify-center mb-4">
        <span class="title">
          Foodstagram
        </span>
      </div>
      <input type="text" name="email" id="email" placeholder="Email" class="form-input mb-2">
      <input type="password" name="password" id="password" placeholder="Password" class="form-input mb-2">
      <button class="btn mb-3" id="loginBTN">LOGIN</button>
      <div class="flex justify-center">
        Not a member yet?&nbsp;<a href="/register.html?ref=/login">Register</a>
      </div>
    </div>
  </div>
</body>
</html>