<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foodsragram | User Name</title>
  <link rel="stylesheet" href="./css/utility.css">
  <link rel="stylesheet" href="./css/profile.css">
  <!-- <script src="./js/sessionCheck.js"></script> -->
  <script src="./js/profile.js" type="module"></script>
  <script src="./components/topHeader.js"></script>
</head>
<body>
  <top-header></top-header>
  <div class="container">
    <div class="profile-details w-35 flex flex-center">
      <div class="column items-center">
        <img src="./assets/default.jpg" class="mb-4" width="200">
        <div class="name mb-3">User Name</div>
        <div class="info">example@fmail.com</div>
        <div class="info">Date of Birth: 21-12-1999</div>
        <div class="info">Member Since: 21-12-2018</div>
      </div>
    </div>
    <div class="user-posts w-65 column items-center pt-2">
      
    </div>
  </div>
</body>
</html>