<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foodstagram | Register</title>
  <link rel="stylesheet" href="./css/utility.css">
  <script src="./js/register.js"></script>
</head>
<body>
  <div class="row">
    <div class="column w-65 pa-4 ma-4 flex-center">
      <span class="title mb-4 w-100 text-underline">Foodstagram Terms & Conditions</span>
      <span class="lh-2 mb-4 text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus obcaecati soluta, officia neque sit facilis consectetur illum corrupti error dolores amet earum deleniti, minima fugit molestias consequatur molestiae accusantium autem, assumenda ipsam eum. A, error laudantium illo vitae harum officia! Consectetur similique, cum architecto tenetur nemo illum laboriosam voluptatibus earum voluptatem reprehenderit quibusdam rerum culpa autem, accusamus qui impedit modi ad veniam in vel blanditiis eligendi nesciunt. Incidunt repellat voluptas tempore, pariatur iusto, eligendi dignissimos eos magni in quo quaerat voluptatibus nulla laudantium dolorum facere vel facilis odit maiores dolore, corporis recusandae iure! Non impedit odit, in nemo nulla autem.</span>
      <span class="lh-2 mb-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, eius praesentium placeat aliquid ducimus rem in! Temporibus, repudiandae libero! Incidunt illum dolorum debitis temporibus vitae, excepturi numquam deserunt aperiam consectetur laudantium aliquid natus? Obcaecati, perspiciatis expedita id veniam quae magni facilis. Nostrum quae soluta, quisquam explicabo cupiditate quis laborum obcaecati.</span>
      <span class="lh-2" align='justify'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, eius praesentium placeat aliquid ducimus rem in! Temporibus, repudiandae libero! Incidunt illum dolorum debitis temporibus vitae, excepturi numquam deserunt aperiam consectetur laudantium aliquid natus? Obcaecati, perspiciatis expedita id veniam quae magni facilis. Nostrum quae soluta, quisquam explicabo cupiditate quis laborum obcaecati.</span>
    </div>
    <div class="column justify-center items-center w-35 h-100vh" style="background-color: #eee;">
      <div class="title mb-4">
        Registration
      </div>
      <input type="text" id="dispName" placeholder="Full Name" class="form-input mb-2 w-250px">
      <input type="email" id="email" placeholder="Email" class="form-input mb-2 w-250px">
      <input type="password" id="password" placeholder="Password" class="form-input mb-2 w-250px">
      <input type="date" id="dob" placeholder="Date of Birth" class="form-input mb-2 w-250px">
      <input type="text" id="address" placeholder="Address" class="form-input mb-2 w-250px">
      <div class="mb-3">
        <input type="checkbox" id="termsAgreement" name="termsAgreement">
        <label for="termsAgreement">I Agree to the Terms & Conditions</label>
      </div>
      <button class="btn w-250px" id="reg">REGISTER</button>
    </div>
  </div>
</body>
</html>